@model UCGrab.Database.Store

@{
    ViewBag.Title = "ManageStore";
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
}

<!-- Store Management Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Store Management</span></h2>
    <div class="row px-xl-5">
        <!-- Store Details -->
        <div class="col-lg-6 mb-5">
            <div class="bg-light p-30 mb-30">
                <h5 class="card-title">Store Details</h5>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <form id="store-details-form" method="post" action="">
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        <label for="store-name">Owner's User ID</label>
                        <input type="text" class="form-control" id="username" name="user_id" required>
                    </div>
                    <div class="form-group">
                        <label for="store-name">Store Name</label>
                        <input type="text" class="form-control" id="store-name" name="store_name" required>
                    </div>
                    <div class="form-group">
                        <label for="store-description">Store Description</label>
                        <textarea class="form-control" id="store-description" name="store_description" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="store-address">Store Address</label>
                        <input type="text" class="form-control" id="store-address" name="store_address" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" class="form-control" maxlength="11" pattern="\d{11}" title="Please enter Philippine 11-digit phone number" required>
                    </div>
                    <div class="form-group">
                        <label for="store-email">Store Email</label>
                        <input type="email" class="form-control" id="store-email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="store-email">Store Operation Hours</label>
                        <textarea type="text" class="form-control" id="store-hours" name="operating_hours" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Store</button>
                </form>
                }
            </div>
        </div>

        <!-- Store List Table -->
        <div class="col-lg-6 mb-5">
            <div class="bg-light p-30 mb-30">
                <h5 class="card-title">List of Stores</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Store ID</th>
                            <th>Store Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="store-list">
                        <tr>
                            <td>@Model.id</td>
                            <td>@Model.store_name</td>
                            <td>@Model.store_address</td>
                            <td>@Model.phone</td>
                            <td>@Model.email</td>
                            <td>
                                <a href="/Admin/EditStore/1" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/Admin/DeleteStore/1" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Store Management End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/Assets/Shop/lib/easing/easing.min.js"></script>
<script src="/Assets/Shop/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/Assets/Shop/mail/jqBootstrapValidation.min.js"></script>
<script src="/Assets/Shop/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/Assets/Shop/js/main.js"></script>
